/* Game div */
#tj-game {
    height: 300px;
    width: 600px;
    border-style: dotted;
    border-width: 1px;
    border-color: darkgray;
    overflow: hidden;
}

/* 'You Lose' div */
#lose {
    height: 300px;
    width: 600px;
    display: none;
}

/* Trump div */
#trump {
    height: 120px;
    width: 95px;
    background-image: url("../images/trump.png");
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    top: 180px;
    
}

/* jump animation to add to Trump div when button clicked */
.animate{
    animation: jump 0.9s linear;
}
@keyframes jump{
    0%{top: 180px;}
    30%{top: 20px;}
    70%{top: 20px;}
    100%{top: 180px;}
}

/* barrier div */
#barrier {
    height: 50px;
    width: 150px;
    position: relative;
    left: 450px;
    top: 128px;
    border-style: solid;
    border-color: black;
}

/* animation to add to barrier div when start button is pressed */
.startMoving {
    animation: barrier 2s infinite linear;
}
@keyframes barrier {
    0%{left:600px;}
    100%{left:-150px;}
}

/* text content of barrier */
#barrier p {
    color: black;
    font-size: 20px;
    font-family: arial, sans-serif;
    line-height: 15px;
    text-align: center;
    
}
